@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Poppins-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:489.6px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1300px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1400px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-webkit-transform:translate(-21.533px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:757.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-21.533px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:803.53px;
}
#_idContainer001 {
	-webkit-transform:translate(-9.001px,27.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:184.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,27.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer002 {
	-webkit-transform:translate(167.837px,914.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(167.837px,914.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:432.33px;
}
#_idContainer003 {
	-webkit-transform:translate(295.482px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(295.482px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:177.04px;
}
#_idContainer004 {
	-webkit-transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer005 {
	-webkit-transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer006 {
	-webkit-transform:translate(112.528px,870.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(112.528px,870.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:542.94px;
}
#_idContainer007 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer008 {
	-webkit-transform:translate(-9.000px,740.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:304.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,740.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer009 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:686.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer010 {
	-webkit-transform:translate(-9.000px,788.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:257.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,788.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer011 {
	-webkit-transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:787.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer012 {
	-webkit-transform:translate(-4.500px,713.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:333.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,713.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer013 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:715.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer014 {
	-webkit-transform:translate(0.000px,788.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:266.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,788.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer015 {
	-webkit-transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:794.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer016 {
	-webkit-transform:translate(0.000px,792.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,792.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer017 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:795.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer018 {
	-webkit-transform:translate(213.543px,867.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(213.543px,867.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:358.91px;
}
#_idContainer019, #_idContainer027, #_idContainer037 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer020 {
	-webkit-transform:translate(-24.000px,844.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:202.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.000px,844.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:816.00px;
}
#_idContainer021 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:845.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer022 {
	-webkit-transform:translate(0.000px,849.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:197.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,849.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer023 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:851.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer024 {
	-webkit-transform:translate(25.986px,868.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.986px,868.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:716.03px;
}
#_idContainer025 {
	-webkit-transform:translate(-48.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:863.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-48.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:864.00px;
}
#_idContainer026 {
	-webkit-transform:translate(-4.500px,841.674px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,841.674px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer028 {
	-webkit-transform:translate(-12.117px,839.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-12.117px,839.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:796.83px;
}
#_idContainer029 {
	-webkit-transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.14px;
}
#_idContainer030 {
	-webkit-transform:translate(2.000px,842.139px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:201.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.000px,842.139px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer031, #_idContainer033 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer032 {
	-webkit-transform:translate(46.866px,840.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.866px,840.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:674.27px;
}
#_idContainer034 {
	-webkit-transform:translate(-9.000px,788.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,788.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer035 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:791.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer036 {
	-webkit-transform:translate(-9.000px,842.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,842.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
