@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Poppins-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#ff6d12;
	font-family:"Poppins Light", sans-serif;
	font-size:489.6px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#ff6d12;
	font-family:"Poppins Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1100px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-webkit-transform:translate(-9.000px,143.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:750.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,143.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer001 {
	-webkit-transform:translate(144.287px,29.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(144.287px,29.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:479.42px;
}
#_idContainer002 {
	-webkit-transform:translate(175.263px,913.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(175.263px,913.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:417.47px;
}
#_idContainer003 {
	-webkit-transform:translate(298.962px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(298.962px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:170.08px;
}
#_idContainer004 {
	-webkit-transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer005 {
	-webkit-transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer006 {
	-webkit-transform:translate(35.999px,841.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:183.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,841.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer007 {
	-webkit-transform:translate(778.000px,-9.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:807.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(778.000px,-9.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer008 {
	-webkit-transform:translate(262.243px,856.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(262.243px,856.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:243.51px;
}
#_idContainer009 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer010 {
	-webkit-transform:translate(35.999px,854.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,854.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer011 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:807.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer012 {
	-webkit-transform:translate(36.000px,851.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,851.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer013 {
	-webkit-transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:807.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer014 {
	-webkit-transform:translate(120.589px,852.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:130.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(120.589px,852.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:528.19px;
}
#_idContainer015, #_idContainer017 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:810.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer016 {
	-webkit-transform:translate(38.974px,819.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:200.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.974px,819.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:684.39px;
}
#_idContainer018 {
	-webkit-transform:translate(36.000px,827.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,827.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer019, #_idContainer027 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer020 {
	-webkit-transform:translate(-12.500px,820.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-12.500px,820.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer021 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:810.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer022 {
	-webkit-transform:translate(-4.500px,803.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,803.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer023 {
	-webkit-transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer024 {
	-webkit-transform:translate(-4.500px,819.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,819.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer025 {
	-webkit-transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer026 {
	-webkit-transform:translate(-8.500px,797.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,797.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer028 {
	-webkit-transform:translate(36.000px,851.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,851.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer029 {
	-webkit-transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
