@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Poppins-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#234903;
	font-family:"Poppins Light", sans-serif;
	font-size:489.6px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#234903;
	font-family:"Poppins Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1600px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-webkit-transform:translate(-0.001px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:741.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer001 {
	-webkit-transform:translate(-9.001px,28.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,28.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer002 {
	-webkit-transform:translate(175.263px,915.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(175.263px,915.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:417.47px;
}
#_idContainer003 {
	-webkit-transform:translate(296.229px,967.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(296.229px,967.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:175.54px;
}
#_idContainer004 {
	-webkit-transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer005 {
	-webkit-transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer006 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer007 {
	-webkit-transform:translate(76.006px,864.986px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.006px,864.986px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:615.99px;
}
#_idContainer008 {
	-webkit-transform:translate(36.000px,817.760px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,817.760px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer009 {
	-webkit-transform:translate(-30.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-30.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:818.54px;
}
#_idContainer010 {
	-webkit-transform:translate(31.441px,817.760px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.441px,817.760px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:705.12px;
}
#_idContainer011 {
	-webkit-transform:translate(-19.600px,-24.574px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:824.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-19.600px,-24.574px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:807.20px;
}
#_idContainer012 {
	-webkit-transform:translate(42.500px,817.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,817.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:685.00px;
}
#_idContainer013 {
	-webkit-transform:translate(-19.000px,-11.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:811.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-19.000px,-11.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:798.00px;
}
#_idContainer014 {
	-webkit-transform:translate(-39.657px,-20.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:820.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-39.657px,-20.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:847.31px;
}
#_idContainer015 {
	-webkit-transform:translate(177.000px,864.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(177.000px,864.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:408.00px;
}
#_idContainer016 {
	-webkit-transform:translate(-4.500px,815.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,815.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer017 {
	-webkit-transform:translate(-69.000px,-12.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:812.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-69.000px,-12.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:904.21px;
}
#_idContainer018, #_idContainer020 {
	-webkit-transform:translate(-4.500px,819.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,819.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer019 {
	-webkit-transform:translate(-26.826px,-11.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:811.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-26.826px,-11.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:833.83px;
}
#_idContainer021 {
	-webkit-transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:792.83px;
}
#_idContainer022 {
	-webkit-transform:translate(0.000px,815.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,815.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer023 {
	-webkit-transform:translate(-15.826px,-45.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:845.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-15.826px,-45.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:792.83px;
}
#_idContainer024 {
	-webkit-transform:translate(-62.202px,-28.898px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:828.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-62.202px,-28.898px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:892.40px;
}
#_idContainer025 {
	-webkit-transform:translate(34.564px,816.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(34.564px,816.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:698.87px;
}
#_idContainer026 {
	-webkit-transform:translate(-80.153px,-33.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:833.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-80.153px,-33.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:928.31px;
}
#_idContainer027 {
	-webkit-transform:translate(0.000px,816.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,816.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer028 {
	-webkit-transform:translate(-22.000px,-26.667px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:826.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-22.000px,-26.667px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:808.00px;
}
#_idContainer029 {
	-webkit-transform:translate(0.000px,819.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,819.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
