@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Poppins-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:20px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1640px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:20px;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	-webkit-text-stroke-color:#e30303;
	-webkit-text-stroke-width:5.1px;
	color:#e30303;
	font-family:"Poppins Light", sans-serif;
	font-size:489.6px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#e30303;
	text-stroke-width:5.1px;
}
span.CharOverride-4 {
	-webkit-text-stroke-color:#e30303;
	-webkit-text-stroke-width:5px;
	color:#e30303;
	font-family:"Poppins Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#e30303;
	text-stroke-width:5px;
}
span.CharOverride-5 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:10px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1120px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:10px;
}
span.CharOverride-6 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:10px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:10px;
}
span.CharOverride-7 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:10px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:10px;
}
span.CharOverride-8 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:10px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:10px;
}
span.CharOverride-9 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:20px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:20px;
}
span.CharOverride-10 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:10px;
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1300px;
	font-style:normal;
	font-weight:300;
	text-stroke-color:#000000;
	text-stroke-width:10px;
}
#_idContainer000 {
	-webkit-transform:translate(-248.796px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:741.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-248.796px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1264.59px;
}
#_idContainer001 {
	-webkit-transform:translate(-9.001px,31.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:142.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,31.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer002 {
	-webkit-transform:translate(167.837px,921.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(167.837px,921.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:432.33px;
}
#_idContainer003 {
	-webkit-transform:translate(167.837px,919.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(167.837px,919.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:432.33px;
}
#_idContainer004 {
	-webkit-transform:translate(305.613px,980.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(305.613px,980.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:175.39px;
}
#_idContainer005 {
	-webkit-transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer006 {
	-webkit-transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer007 {
	-webkit-transform:translate(-12.000px,-78.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:878.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-12.000px,-78.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer008 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:11.29px;
}
#_idContainer009 {
	-webkit-transform:translate(-9.000px,841.030px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:163.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,841.030px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer010 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:288.11px;
}
#_idContainer011 {
	-webkit-transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer012 {
	-webkit-transform:translate(-18.001px,817.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-18.001px,817.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer013 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.67px;
}
#_idContainer014 {
	-webkit-transform:translate(-22.500px,-31.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:831.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-22.500px,-31.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:813.00px;
}
#_idContainer015 {
	-webkit-transform:translate(-37.000px,815.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-37.000px,815.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer016 {
	-webkit-transform:translate(700.000px,926.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,926.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:22.64px;
}
#_idContainer017 {
	-webkit-transform:translate(-25.500px,-32.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:816.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-25.500px,-32.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:819.00px;
}
#_idContainer018 {
	-webkit-transform:translate(700.000px,923.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,923.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.36px;
}
#_idContainer019 {
	-webkit-transform:translate(-9.001px,811.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,811.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer020 {
	-webkit-transform:translate(-25.500px,-26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:826.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-25.500px,-26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:819.00px;
}
#_idContainer021 {
	-webkit-transform:translate(-4.500px,824.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,824.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer022, #_idContainer024 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.36px;
}
#_idContainer023 {
	-webkit-transform:translate(-8.829px,-11.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:811.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.829px,-11.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.66px;
}
#_idContainer025 {
	-webkit-transform:translate(-21.000px,817.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-21.000px,817.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer026 {
	-webkit-transform:translate(-29.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-29.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:827.00px;
}
#_idContainer027 {
	-webkit-transform:translate(-4.500px,822.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,822.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer028 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.06px;
}
#_idContainer029 {
	-webkit-transform:translate(-7.126px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-7.126px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:782.25px;
}
#_idContainer030 {
	-webkit-transform:translate(-4.500px,826.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,826.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer031 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.76px;
}
#_idContainer032 {
	-webkit-transform:translate(-8.829px,-18.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:818.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.829px,-18.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.66px;
}
#_idContainer033 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.10px;
}
#_idContainer034 {
	-webkit-transform:translate(-9.000px,828.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,828.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer035 {
	-webkit-transform:translate(-24.001px,-32.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:832.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.001px,-32.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:816.00px;
}
#_idContainer036 {
	-webkit-transform:translate(697.845px,924.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(697.845px,924.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.15px;
}
#_idContainer037 {
	-webkit-transform:translate(0.000px,805.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,805.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer038 {
	-webkit-transform:translate(-24.001px,-97.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:831.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.001px,-97.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:816.00px;
}
#_idContainer039 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:22.57px;
}
#_idContainer040 {
	-webkit-transform:translate(0.000px,745.061px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:243.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,745.061px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer041 {
	-webkit-transform:translate(-34.808px,-46.411px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:846.41px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-34.808px,-46.411px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:837.62px;
}
#_idContainer042 {
	-webkit-transform:translate(36.000px,870.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,870.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:616.04px;
}
#_idContainer043 {
	-webkit-transform:translate(700.041px,938.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.041px,938.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.96px;
}
#_idContainer044 {
	-webkit-transform:translate(-34.500px,-46.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:846.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-34.500px,-46.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:837.00px;
}
#_idContainer045 {
	-webkit-transform:translate(698.953px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(698.953px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:33.05px;
}
#_idContainer046 {
	-webkit-transform:translate(43.054px,853.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:155.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.054px,853.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:663.89px;
}
#_idContainer047 {
	-webkit-transform:translate(-24.369px,-32.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:832.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.369px,-32.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:816.74px;
}
#_idContainer048 {
	-webkit-transform:translate(-35.518px,808.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-35.518px,808.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer049 {
	-webkit-transform:translate(697.836px,923.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(697.836px,923.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.65px;
}
#_idContainer050 {
	-webkit-transform:translate(-9.001px,-22.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:822.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-22.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer051 {
	-webkit-transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(700.000px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.52px;
}
#_idContainer052 {
	-webkit-transform:translate(-9.000px,812.139px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,812.139px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer053 {
	-webkit-transform:translate(-24.945px,-42.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:842.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.945px,-42.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:817.89px;
}
#_idContainer054 {
	-webkit-transform:translate(698.091px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(698.091px,929.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:33.91px;
}
#_idContainer055 {
	-webkit-transform:translate(-9.000px,825.631px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,825.631px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
