@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Poppins-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:489.6px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1600px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:1500px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-webkit-transform:translate(-9.000px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:741.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,151.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:809.11px;
}
#_idContainer001 {
	-webkit-transform:translate(-9.001px,26.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,26.654px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer002 {
	-webkit-transform:translate(175.263px,918.074px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(175.263px,918.074px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:417.47px;
}
#_idContainer003 {
	-webkit-transform:translate(298.950px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(298.950px,966.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:170.10px;
}
#_idContainer004 {
	-webkit-transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,138.112px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer005 {
	-webkit-transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.500px,879.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.00px;
}
#_idContainer006 {
	-webkit-transform:translate(784.446px,-9.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(784.446px,-9.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:806.10px;
}
#_idContainer007 {
	-webkit-transform:translate(82.365px,863.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(82.365px,863.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:603.27px;
}
#_idContainer008 {
	-webkit-transform:translate(-20.817px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-20.817px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:810.18px;
}
#_idContainer009 {
	-webkit-transform:translate(36.000px,863.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,863.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer010 {
	-webkit-transform:translate(-17.903px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-17.903px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:803.80px;
}
#_idContainer011 {
	-webkit-transform:translate(36.000px,862.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,862.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer012 {
	-webkit-transform:translate(-4.500px,813.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,813.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer013 {
	-webkit-transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer014 {
	-webkit-transform:translate(-4.500px,814.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,814.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer015 {
	-webkit-transform:translate(-9.000px,-8.081px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-8.081px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer016 {
	-webkit-transform:translate(-4.500px,810.865px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,810.865px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:777.00px;
}
#_idContainer017, #_idContainer023 {
	-webkit-transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer018 {
	-webkit-transform:translate(-9.000px,-9.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.000px,-9.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer019 {
	-webkit-transform:translate(165.362px,861.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(165.362px,861.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:437.27px;
}
#_idContainer020 {
	-webkit-transform:translate(-17.612px,-24.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:824.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-17.612px,-24.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:803.22px;
}
#_idContainer021 {
	-webkit-transform:translate(36.000px,865.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,865.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:696.00px;
}
#_idContainer022 {
	-webkit-transform:translate(0.000px,829.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,829.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer024 {
	-webkit-transform:translate(0.000px,811.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,811.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer025 {
	-webkit-transform:translate(-17.635px,-21.262px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:821.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-17.635px,-21.262px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:806.27px;
}
#_idContainer026 {
	-webkit-transform:translate(-0.001px,734.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:305.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,734.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer027 {
	-webkit-transform:translate(-19.956px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:746.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-19.956px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:805.96px;
}
#_idContainer028 {
	-webkit-transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:809.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:786.00px;
}
#_idContainer029 {
	-webkit-transform:translate(218.681px,863.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(218.681px,863.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:348.64px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
